// main: index.less


.front_page-news {
    padding: 5% 0;
}


.slip_news-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    flex-wrap: wrap;
   
    justify-content: space-around;
    justify-content: flex-start;
    align-items: stretch;
    
    padding-bottom: 5%;
    
    .slipnews {
        width: 40%;
      .max(35.5em, {
          width: 100%;
      }); 
       
        .cover {
            display: none;
            z-index: 1;
        }
        
        .slipcontent {
            padding: 2em 1em;
            position: relative;
            z-index: 4;
            
             a {
                font-size: 1.4em;
                text-decoration: none;
                border-bottom: 1px solid @blue;
                }
        }
        
        
    &:first-child {
         width: 60%;
      .max(35.5em, {
          width: 100%;
      });
         display: flex;
         align-items: flex-end;
         justify-content: flex-start;
         position: relative;
          
        padding-top: 2em;
        .slipcontent {
           color: #fff;
            & .slip_news-content > a {
                text-decoration: none;
                color: #fff;
                font-size: 2.2em;
                border: 0;
                font-weight: 700;
            }
            p > a {
                color: #fff;
            }
        }
        
          .cover {
              display: block;
              position: absolute;
              z-index: 1;
              top: 0;bottom: 0;right: 0;left: 0;
              .bgc;
              
              &:after{
              content: ' ';
              position: absolute;
              z-index: 2;
              top: 0;bottom: 0;right: 0;left: 0;
            .gradient(transparent, #333);   
            //  background-color: rgba(49,49,49,0.5);
              }
          } 
          
        }
        
        &:last-child {
           font-size: 1.2em; 
            p {
                line-height: 150%;
                opacity: 0.5;
            }
        }   
      }
    
}

.linenews {
    
    padding: 1em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    
.max(35.5em, {
       height: 305px;
       overflow: hidden;
      .gradient (#ddd, #eee );
      });    
    
    .lineblock_wrap {
        width: 20%;
        
.max(35.5em, {
          width: 90%;
          margin: 0 auto;  
          height: 75px;
          overflow: hidden;
      });
        
        .lineblock {
            padding: 1em;
            padding-left: 0;
            
            .fdates {
               font-size: 0.9em;
               color: #888;
            }
            
            a {
                
            }
        }
        
        &.allnews {
            width: 100%;
        }
        
    }
    
}



