// main: ../style.less

.footer {
    text-align: center;
    padding: 5% 0;
    
    ul {
        margin: 1.5em;
        padding: 0;
        li {
            display: inline-block;
            padding: 0 0.5em;
            
            a {
                text-decoration: underline;
              }
            
            
        }
        
     &.footer_social > li > a {text-decoration: none;}    
    }
    
    
    a.design {
        color: #000;
        text-decoration: none;
        font-size: 2em;
    }
}
