// main: main.less

.navigation {
    
    justify-content: space-between;
    padding: 2em 0;
    
    .logotype {
        font-size: 1em;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        line-height: 1em;
        
        a {
          text-decoration: none;
          color: #333;
        }
        
        span {
          font-weight: 700;  
        }
    }
    
    .top_menu {
        & > ul {
            & > li {
                display: inline-block;
                
             & > a, & > label {
                color: #333;    
                margin-left: 2em;  
                text-decoration: none;
                display: inline-block;
                padding: 0.2em;
                cursor: pointer;
                 
                    &:hover {
                        color: #333;
                    }
                }
            }
        } 
    }
}


.top_menu {
    
    input[type=checkbox] {
        display: none;
    }
    
    label {
        position: relative;
        z-index: 45;
    }
    
    .navigation_advance {
        display: none;
        position: fixed;
        top: 0;right: 0;left: 0;bottom: 0;
        background-color: #eee;
        z-index: 50;
        
    background: #989898;
    background: 
        linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
        radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%);
    background-blend-mode: multiply,multiply;
        background-attachment: fixed;
        
     }
    
    input[type=checkbox]:checked + label {
        z-index: 60;
        i:before {
            content: '\43';
        }
    }
    
    
    input[type=checkbox]:checked + label + .navigation_advance {
       display: block; 
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        
        align-items: center;
        align-items: flex-start;
        justify-content: space-around;
      }
}

.search_io {
    width: 100%;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    overflow-y: auto;
    
    
    
    .search_line {
       width: 100%;
       background-color: #fff; 
       padding: 2em;
       box-shadow: 3px 3px 33px #ddd; 
       position: relative;
       z-index: 3; 
        
        form {
            
            input[type=text] {
                width: 50%;
                display: block;
                padding: 0.5em;
                font-size: 1.2em;
                border: 1px solid #333;
                outline: 0;
            }
            
            input[type=checkbox] {
               display: inline-block; 
                
                &#advance {
                    display: none;
                }  
                
                & + label {
                    display: inline-block;
                    padding: 0;
                    margin: 1em 0;
                    color: @blue;
                    border-bottom: 1px dashed @blue;
                    cursor: pointer;
                  }
                &:checked + label{
                    border: 0;
                }
            }
            
            
            .advanced  {
                display: none;
                
                label {
                    display: block;
                    input {
                        padding-right: 1em;
                    }
                }
                
            }
            
            input[type=checkbox]#advance:checked + label + .advanced  {
                display: block;
            }
        }
        
    }
    
    
    
    .search_response {
        padding: 2em;
        background-color: #eee;
        height: auto;
        position: relative;
        bottom: 0;  
        z-index: 1;
    }
}


.site-map {
    background-color: #fff;
    overflow-y: auto;
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    z-index: 51;
    padding: 5% 0;
    
    ul.mainmenu {
        position: relative;
        margin: 0;padding: 0;
        columns: 200px 4;
    & > li {
         display: inline-block;
         font-size: 2em;
         padding: 1em;
         line-height: 120%;
       a {
          text-decoration: none;
          }
       & > ul {
                margin: 0;
                padding: 1em 0;
                
                li {
                    font-size: 1rem;
                    display: block;
                    line-height: 100%;
                    padding: 0.5em 0;
                    
                    ul {
                        padding-left: 0.5rem;
                    }
                }
            }
        } 
    }
    
}









